body {
  background-color: #1e1e2e;
  color: #8ca185;
  font-family: Poppins, sans-serif;
  font-size: 0.9rem;
}
#errorDiv pre {
  color: inherit;
  margin-bottom: 0rem;
}
.floatLeft {
  position: relative;
  float: left;
}
.floatRight {
  float: right;
}
.noBorder {
  border: none;
}
.marginRight {
  margin-right: 0.5em;
}
.box {
  background-color: #27293d;
  margin: 0.5em;
  border-radius: 0.5rem;
  border: 1px solid gray;
}
.productPicture {
  /* background-color: antiquewhite; */
  margin-right: 0.5rem;
  max-height: 80px;
  max-width: 80px;
}
/* h4 button {
  border: 1px outset dotted yellow;
  border-radius: 0.5rem;
  background-color: aliceblue;
  padding-top: 0rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0px;
  margin-left: 0.5rem;
  margin-top: 0rem;
  margin-bottom: 0.1rem;
  cursor: pointer;
  max-height: 1.6rem;
  vertical-align: text-bottom;
} */
/* h4 button img {
  vertical-align: top;
  max-height: 0.9rem;
  padding-top: 0rem;
  margin-top: 0.3rem;
} */
@media (min-width: 600px) {
  .box {
    width: 30%;
  }
}
.innerBox .summary {
  padding: 0.2em;
  padding-left: 0.5em;
  padding-top: 0em;
  margin-top: -0.1em;
}
.cartQuantity span {
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 0.5rem;
  border: 1px solid lightblue;
}
.cartQuantity {
  text-align: right;
  width: 3em;
  margin-right: 0.5em;
}
.sep {
  clear: both;
  padding: 0.2em;
  padding-left: 0.5em;
  border-top: 1px dotted gray;
}
.padding {
  padding: 1em;
}
.innerBox h4 {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #dcf1d5;
  /* background-color: rgb(0, 123, 255); */
  border-radius: 0.5rem;
  /* border: 1px solid lightgray; */
}

.main {
  margin: 1em;
}

.App-logo {
  height: 10em;
  /* width: 30%;
  height: 80%; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1vh;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
