body {
  background-color: black;
  color: rgb(185, 224, 224);
}
#errorDiv pre {
  color: inherit;
  margin-bottom: 0rem;
}
.floatLeft {
  position: relative;
  float: left;
}
.floatRight {
  float: right;
}
.noBorder {
  border: none;
}
.marginRight {
  margin-right: 0.5em;
}
.box {
  background-color: rgb(10, 20, 35);
  margin: 0.5em;
  border-radius: 1em;
  border: 1px solid lightgray;
  max-width: 30%;
}
.cartQuantity {
  background-color: rgb(10, 20, 35);
  margin-right: 0.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 1em;
  border: 1px solid lightblue;
} 
.sep {
  clear: both;
  padding: 0.2em;
  padding-left: 0.5em;
  border-top: 1px dotted lightblue;
}
.padding {
  padding: 1em;
}
.innerBox h4 {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: lightcyan;
  background-color: rgb(0, 123, 255);
  border-radius: 1em;
  border: 1px solid lightgray;
}

.main {
  margin: 1em;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 1vh;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
